"*":
  "atomic-emacs":
    alwaysUseKillRing: true
    killWholeLine: true
    yankFromClipboard: true
  core:
    telemetryConsent: "no"
  editor:
    preferredLineLength: 800
    tabLength: 4
  "exception-reporting":
    userId: "5fef63e1-f9f5-4201-b07d-bbad03e46b76"
  welcome:
    showOnStartup: false
