# Your keymap
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings

'body':
    'alt-1': 'unset!'
    'alt-2': 'unset!'
    'alt-3': 'unset!'
    'alt-4': 'unset!'
    'alt-5': 'unset!'
    'alt-6': 'unset!'
    'alt-7': 'unset!'
    'alt-8': 'unset!'
    'alt-9': 'unset!'

'atom-workspace':
    'ctrl-:': 'platformio-ide-terminal:toggle'
    'ctrl-0': 'tree-view:toggle-focus'
    'ctrl-h': 'core:backspace'
    'ctrl-n': 'core:move-down'
    'ctrl-p': 'core:move-up'
    'ctrl-y': 'core:paste'
    # C-c prefix commands
    # C-x prefix commands
    'ctrl-x ctrl-p': 'user:open-your-project-file'
    # Disable quit command
    'ctrl-x ctrl-c': 'unset!'
    # Cancel "C-k" prefix key (→ disable-keybindings package)

'atom-text-editor':
    'ctrl-:': 'platformio-ide-terminal:toggle'
    'ctrl-1': 'editor:select-word'
    'ctrl-\\': 'core:redo'
    'ctrl-s': 'incremental-search:forward'
    'ctrl-r': 'incremental-search:backward'
    # Disable quit command
    'ctrl-x ctrl-c': 'unset!'
    'cmd-q': 'unset!'
    # C-u prefix commands
    'ctrl-u -': 'user:insert-horizontal-bar'
    'ctrl-u =': 'user:insert-double-horizontal-bar'
    # Disable alt-m prefix
    'alt-m 1': 'unset!'
    'alt-m 2': 'unset!'
    'alt-m 3': 'unset!'
    'alt-m enter': 'unset!'
    'alt-m r': 'unset!'

'atom-text-editor:not([mini])':
    'ctrl-i': 'editor:indent'
    'ctrl-/': 'core:undo'
    'ctrl-\\': 'core:redo'
    'ctrl-_': 'core:redo'
    'ctrl-shift-i': 'window:toggle-dev-tools'
    # C-c prefix commands
    'ctrl-c g': 'go-to-line:toggle'
    'ctrl-c ctrl-f': 'atom-commander:toggle-focus'
    'ctrl-c ctrl-y': 'clipboard-plus:toggle'
    # C-x prefix commands
    'ctrl-x 5': 'pane:split-right-and-copy-active-item'

'.platform-win32 .atom-text-editor:not([mini])':
    'ctrl-alt-/': 'editor:auto-indent'
    'alt-shift-5': 'find-and-replace:show'
    'alt-g': 'go-to-line:toggle'

'.platform-darwin .atom-text-editor:not([mini])':
    'ctrl-cmd-/': 'editor:auto-indent'
    'cmd-shift-5': 'find-and-replace:show'
    'cmd-g': 'go-to-line:toggle'

'atom-text-editor.autocomplete-active':
    'escape': 'autocomplete-plus:cancel'
    'ctrl-g': 'autocomplete-plus:cancel'

    'alt-d': 'atom-commander:compare-files'
    'alt-v': 'atom-commander:page-up'

## Atomic Emacs
'.platform-darwin atom-workspace':
    'alt-x': 'unset!'
    'cmd-x': 'command-palette:toggle'

'.platform-darwin atom-workspace atom-text-editor':
    'alt-b': 'unset!'
    'cmd-b': 'atomic-emacs:backward-word'
    'alt-left': 'unset!'
    'cmd-left': 'atomic-emacs:backward-word'
    'alt-f': 'unset!'
    'cmd-f': 'atomic-emacs:forward-word'
    'alt-right': 'unset!'
    'cmd-right': 'atomic-emacs:forward-word'
    'alt-{': 'unset!'
    'cmd-{': 'atomic-emacs:backward-paragraph'
    'alt-}': 'unset!'
    'cmd-}': 'atomic-emacs:forward-paragraph'
    'alt-m': 'unset!'
    'cmd-m': 'atomic-emacs:back-to-indentation'
    'alt-<': 'unset!'
    'cmd-<': 'core:move-to-top'
    'alt->': 'unset!'
    'cmd->': 'core:move-to-bottom'
    'alt-d': 'unset!'
    'cmd-d': 'atomic-emacs:kill-word'
    'alt-t': 'unset!'
    'cmd-t': 'atomic-emacs:transpose-word'
    'alt-l': 'unset!'
    'cmd-l': 'atomic-emacs:downcase-word-or-region'
    'alt-u': 'unset!'
    'cmd-u': 'atomic-emacs:upcase-word-or-region'
    'alt-c': 'unset!'
    'cmd-c': 'atomic-emacs:capitalize-word-or-region'
    'alt-w': 'unset!'
    'cmd-w': 'atomic-emacs:copy-region-as-kill'
    'alt-y': 'unset!'
    'cmd-y': 'atomic-emacs:yank-pop'
    'alt-shift-y': 'unset!'
    'cmd-shift-y': 'atomic-emacs:yank-shift'
    'alt-\\': 'unset!'
    'cmd-\\': 'atomic-emacs:delete-horizontal-space'
    'alt-^': 'unset!'
    'cmd-^': 'atomic-emacs:delete-indentation'
    'alt-/': 'unset!'
    'cmd-/': 'autocomplete-plus:activate'
    'alt-q': 'unset!'
    'cmd-q': 'atomic-emacs:reflow-selection'
    'alt-;': 'unset!'
    'cmd-;': 'editor:toggle-line-comments'
    'alt-,': 'unset!'

'.platform-darwin atom-text-editor:not(.autocomplete-active):not(.mini)':
    'alt-v': 'unset!'
    'cmd-v': 'atomic-emacs:scroll-down'


## ================================================================
## Language Modes

## CSS Mode
'atom-workspace atom-text-editor[data-grammar~="css"]':
    'f1': 'user:open-mdn-manual'
    'ctrl-x ctrl-h': 'user:open-mdn-manual'

## LESS Mode
'atom-workspace atom-text-editor[data-grammar~="less"]':
    'f1': 'user:open-mdn-manual'
    'ctrl-x ctrl-h': 'user:open-mdn-manual'

## JavaScript Mode
'atom-workspace atom-text-editor[data-grammar~="js"]':
    'f1': 'user:open-mdn-manual'
    'ctrl-x ctrl-h': 'user:open-mdn-manual'

## PHP Mode
'atom-workspace atom-text-editor[data-grammar~="php"]':
    'f1': 'user:open-php-manual'
    'ctrl-x ctrl-h': 'user:open-php-manual'


## ================================================================
## Tree View
'.tree-view':
    'ctrl-h': 'tree-view:collapse-directory'
    'ctrl-m': 'tree-view:open-selected-entry'
    'ctrl-n': 'core:move-down'
    'ctrl-p': 'core:move-up'
    'ctrl-v': 'core:page-down'
    'shift-c': 'tree-view:duplicate'
    'shift-d': 'tree-view:remove'
    'shift-e': 'tree-view:recursive-expand-directory'
    'shift-r': 'tree-view:rename'
    'shift-q': 'tree-view:toggle'

'.platform-win32 .tree-view':
    'alt-v': 'core:page-up'

'.platform-darwin .tree-view':
    'alt-v': 'core:page-up'


## ================================================================
## Incremental Search
'.workspace .isearch .editor':
    'ctrl-s': 'incremental-search:forward'
    'ctrl-r': 'incremental-search:backward'
    'ctrl-w' : 'incremental-search:slurp'

## ================================================================
## Atom Commander
'.atom-commander':
    'shift-c': 'atom-commander:copy'
    'shift-d': 'atom-commander:delete'
    'shift-k': 'atom-commander:new-folder'
    'shift-n': 'atom-commander:new-file'
    'shift-m': 'atom-commander:move'
    'shift-p': 'atom-commander:mirror'
    'shift-q': 'atom-commander:toggle-visible'
    'shift-r': 'atom-commander:rename'
    'ctrl-i': 'atom-commander:focus-other-view'

'.atom-commander-container-view':
    'ctrl-a': 'atom-commander:select-files'
    'ctrl-d': 'atom-commander:compare-files'
    'ctrl-g': 'atom-commander:select-none'
    'ctrl-h': 'atom-commander:open-parent-folder'
    'ctrl-t': 'atom-commander:select-invert'
    'ctrl-v': 'atom-commander:page-down'

'.platform-win32 .atom-commander-container-view':
    'alt-d': 'atom-commander:compare-files'
    'alt-v': 'atom-commander:page-up'

'.platform-darwin .atom-commander-container-view':
    'cmd-d': 'atom-commander:compare-files'
    'cmd-v': 'atom-commander:page-up'
